<!DOCTYPE html>
<html>
  <head>
    <title>FAQ Page</title>
  </head>
  <body>
    <h1>Frequently Asked Questions (FAQ)</h1>
    <h4> Fret no more! Read below and your stubborn question will likely be answered :)</h4>
    <a href="/">
        <button>Home</button>
    </a>
    <a href="/about">
        <button>About</button>
    </a>
    <a href="/indicators">
        <button>Indicators</button>
    </a>
    <a href="/faq">
        <button>FAQ</button>
    </a>
     
        <h2>What exactly are macroeconomic indicators?</h2>
        <p>Macroeconomic indicators are key statistics that help us understand the overall health and performance of an economy. They encompass various factors such as gross domestic product (GDP), inflation, unemployment rate, and trade balances.</p>
        
        <h2>How frequently is the data updated?</h2>
        <p>I strive to keep the data up-to-date, so it is usually updated on a monthly basis within the first week of each month.</p>

        <h2>Where does this data come from?</h2>
        <p>A popular question. The data comes from the Federal Reserve of Economic Data, or FRED for short! This database is maintained by the Federal Researve Bank of St. Louis, and remains one of the largest public data sources for economic data. I gathered this data by using the FRED API (Application Program Interface).</p>

        <h2>Can I trust the data?</h2>
        <p>Valid question. This FRED data comes from a variety of reputable sources (Gov't agencies, internaltion orgs, private companies) to ensure integrity. 
            Further, FRED has been widely used by academics, government agencies, and private sector entities for many years, and has been instrumental in shaping economic 
            policy and understanding key economic trends. The database is widely recognized as a trusted source of economic data, and is frequently cited in economic research 
            papers and reports. To learn more please visit <a href="https://fred.stlouisfed.org/">FRED website</a> or the <a href="https://en.wikipedia.org/wiki/Federal_Reserve_Economic_Data">FRED wikipedia page</a>.</p>
        
        <h2>In what file formats can I download this data?</h2>
        <p>We've got you covered! The data can be downloaded in CSV, Excel, or JSON formats. Just head over to the <a href="/indicators">Indicators</a> page and choose the format you prefer.</p>

        <h2>Is it possible to filter the data by date?</h2>
        <p>Absolutely! You can easily filter the data by date using the date filter on the <a href="/indicators">Indicators</a> page. Just pick a start and end date, and the data will be displayed for the specified date range.</p>

        <h2>Can I filter the data based on specific indicators?</h2>
        <p>You betchya! You can filter the data by choosing specific indicators from the dropdown list available on the <a href="/indicators">Indicators</a> page.</p>

        <h2>How do I download the data?</h2>
        <p>Downloading the data is a breeze! Just visit the <a href="/indicators">Indicators</a> page and click on the download button for the format you prefer (CSV, Excel, or JSON) at the very bottom, with helpful buttons. The data will be downloaded to your computer in no time.</p>

        <h2>How can I get in touch with you for support?</h2>
        <p>If you have any questions, concerns, or feedback, please don't hesitate to reach out to me at <a href="mailto:curranje@oregonstate.edu">curranje@oregonstate.edu</a>. :-)</p>
        
    </body>
</html>